###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
*               text=auto

###############################################################################
# Set the merge driver for xml files
###############################################################################

*.xml           text eol=crlf
